//-----------------
// Juniper fixes
//-----------------

.content-wrapper.main-container {
	margin-top: 0;
	padding: 0;
	min-height: 650px;
}

.content-wrapper .course-tabs.navbar,
.wrapper-course-material.courseware .course-material {
	overflow: auto;
}

.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
	overflow: inherit;
}

.home .courses-container,
.find-courses .courses-container {
	padding: 0 40px;
}

@media (max-width: 768px) {
	.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav {
		display: flex;
		flex-wrap: wrap;
		height: auto;
		margin: 0 auto;

		ol {
			flex-wrap: wrap;

			li {
				border-right-style: solid;
				border-left-style: solid;
			}
		}

		.sequence-list-wrapper,
		.sequence-nav-button.button-next,
		.sequence-nav-button.button-previous {
			flex: 0 0 100%;
			max-width: 100%;
			min-height: 44px;
			z-index: 2000;
		}

		.sequence-nav-button.button-next,
		.sequence-nav-button.button-previous {
			margin: .75rem 0;
		}
	}

	.content-wrapper .course-info {
		header.course-profile .intro-inner-wrapper {
			.table {
				align-items: center;
				display: flex;
				flex-direction: column-reverse;
			}

			.intro {
				text-align: center;
				width: 100%;
			}

			.media {
				width: auto;

				img {
					height: 160px;
					max-width: 264px;
				}
			}
		}

		.course-sidebar {
			width: 100%;
		}
	}

	.dashboard .main-container .my-courses .course .details .wrapper-course-image {
		display: block;
		width: 100%;

		.cover {
			max-width: 184px;
		}

		img {
			height: 120px;
		}
	}
}

@media (max-width: 576px) {
	.home .courses-container,
	.find-courses .courses-container {
		padding: 0 10px;
	}
}

// Custom changes
.window-wrap {
	background: $bg-primary;
}

.global-header .header-logo a {
	height: 45px;

	.logo {
		height: 48px;
	}
}

.wrapper-footer.wrapper {
	background: $footer-bg;
	padding: 40px;

	footer#footer-openedx {
		.footer-links {
			display: flex;
			justify-content: space-between;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
			}

			li a,
			.social-links a {
				color: $link-footer-color;
				margin: 0 5px;
				font-size: 1.1rem;

				&:hover {
					color: $link-footer-hover;
					border: none;
				}
			}
		}

		.copyright {
			color: $link-footer-color;
			font-size: 1rem;
		}
	}
}

.dashboard .my-courses .course-container {
	background: $white;
}

.home>header {
	background: theme-color("primary");
	background-image: $homepage-bg-image;
}

.courses-header {
	background-image: $homepage-bg-image;

	.outer-wrapper {
		animation: home-header-pop-up 1.15s ease-in-out;
		animation-fill-mode: both;
		animation-delay: 1s;
		position: relative;
		margin: 0 auto;
		padding: 60px;
		max-width: 1200px;

		.title {
			display: block;
			margin-right: 2.35765%;
			width: 65.88078%;
			margin-left: 17.05961%;
			box-sizing: border-box;
			transition: all 0.2s linear 0s;
			position: relative;
			box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
			background: #fff;
			padding: 10px 30px;
			min-height: 70px;
			vertical-align: top;
		}

		.heading-group {
			left: 0;
			box-sizing: border-box;
			transition: all 0.2s linear 0s;
			text-align: left;
			top: 0;
			opacity: 1;
		}

		h1 {
			margin: 0;
		}
	}
}

@media (min-width: 992px) {
	.global-header .nav-links .main .nav-tab a {
		color: $link-header-color;

		&:hover {
			color: $link-header-color-hover;
		}
	}
}

@media (max-width: 768px) {
	.instructor-dashboard-wrapper-2 #student_admin input {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrapper-footer.wrapper footer#footer-openedx{
		.footer-links {
			flex-direction: column;
			align-items: center;

			ul {
				margin: 10px;
				flex-wrap: wrap;
			}
		}

		.wrapper-logo,
		.copyright {
			text-align: center;
		}
	}
}

@media screen and (max-width: 540px) {
	.courses-header .title {
		width: 100%;
		box-sizing: border-box;
		margin-left: 0%;
	}
}

@media screen and (max-width: 321px) {
	.courses-header .outer-wrapper {
		padding: 10px;
	}
}
